<h1><%=current_user.email%>'s list of recipes</h1>
<%if @recipes.empty?%>
    You have no recipes, please create a recipe below!
<%else%>
  <%@recipes.each do |recipe|%>

      <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
        </br>
        Submitted by: <%=recipe.user.email%></br>
        Ingredients: <%=recipe.ingredients%></br>
        Directions: <%=recipe.directions%> </br>
        Average Rating: <%= recipe.reviews.average(:rating).to_f%></br>
        Picture:</br>
        <% if recipe.avatar.file? %>
          <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
        <% else %>
            No Picture available!
        <% end %>
      </p>

    </hr>
  <%end%>

<%end%>

<br />

<%= link_to 'New Recipe', new_recipe_path %>

