<h1><%=current_user.email%>'s list of recipes</h1>
<%if @recipes.empty?%>
    You have no recipes, please create a recipe below!
<%else%>
  <table>
    <tr>
      <th>Name</th>
      <th>Ingredients</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>


  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.ingredients %></td>
      <td><%= link_to 'Show', recipe %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

<%end%>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
<%#=link_to 'Return to dashboard', dashboard_path%>


<%#= render 'testuser' %>
