
<!-- <h1>Recipes already reviewed</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Recipe Owner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @otherusers.each do |user|%>
    <% user.recipes.each do |recipe| %>
      <%if recipe.reviews.where('user_id='+current_user.id.to_s).count!=0%>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.ingredients %></td>
          <td><%= user.email%></td>
          <td><%= link_to 'Show recipe', recipe %></td>
          <td> 
            <%#if recipe.reviews.where('user_id='+current_user.id.to_s).empty?%>
              <%#=link_to 'Review this recipe', new_review_path(:id=>recipe.id)%>
            <%#else%>
              <%=link_to 'Show my review',review_path(:id=>recipe.id,:review_id=>recipe.reviews.where('user_id='+current_user.id.to_s).first.id)%>
            <%#end%>
          </td>
          <td><%#= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%>
    <% end %>
  <%end%>
  </table>

</br>

<h1>Recipes to review</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Recipe Owner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @otherusers.each do |user|%>
    <% user.recipes.each do |recipe| %>
      <%if recipe.reviews.where('user_id='+current_user.id.to_s).empty?%>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.ingredients %></td>
          <td><%= user.email%></td>
          <td><%= link_to 'Show recipe', recipe %></td>
          <td> 
            <%#if recipe.reviews.where('user_id='+current_user.id.to_s).empty?%>
              <%=link_to 'Review this recipe', new_review_path(:id=>recipe.id)%>
            <%#else%>
              <%#=link_to 'Show my review',review_path(:id=>recipe.id,:review_id=>recipe.reviews.where('user_id='+current_user.id.to_s).first.id)%>
            <%#end%>
          </td>
          <td><%#= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%>
    <%end%>
  <%end%>
  </table> -->



  <h1>Other User's Recipes</h1>

  <%if @otherusers!=nil%>

    <%@otherusers.each do |user|%>

    <%if user.recipes !=nil%>

      <%user.recipes.each do |recipe|%>

        <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
          </br>
          Submitted by: <%=recipe.user.email%></br>
          Ingredients: <%=recipe.ingredients%></br>
          Directions: <%=recipe.directions%> </br>
          Average Rating: <%= recipe.reviews.average(:rating).to_f%></br>
          Picture:</br>
          <% if recipe.avatar.file? %>
            <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
          <% else %>
              No Picture available!
          <% end %></br>
        </p>
        </hr>
      <%end%>
    <%end%>
    <%end%>
  <%end%>



<h1>My Recipes</h1>

 

  <%if @myrecipes !=nil%>
   <%=will_paginate @myrecipes%>
   

    <%@myrecipes.each do |recipe|%>

      <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
        </br>
        Submitted by: <%=recipe.user.email%></br>
        Ingredients: <%=recipe.ingredients%></br>
        Directions: <%=recipe.directions%> </br>
        Picture:</br>
        <% if recipe.avatar.file? %>
          <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
        <% else %>
            No Picture available!
        <% end %></br>
        Average Rating: <%= recipe.reviews.average(:rating).to_f%></p>
      </hr>
    <%end%>
  <%end%>

  <h1>Other User's Recipes</h1>


  <%if @otherrecipes!=nil%>
  <%=will_paginate @otherrecipes%>

      <%@otherrecipes.each do |recipe|%>

        <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
          </br>
          Submitted by: <%=recipe.user.email%></br>
          Ingredients: <%=recipe.ingredients%></br>
          Directions: <%=recipe.directions%> </br>
          Average Rating: <%= recipe.reviews.average(:rating).to_f%></br>
          Picture:</br>
          <% if recipe.avatar.file? %>
            <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
          <% else %>
              No Picture available!
          <% end %></br>
        </p>
        </hr>
      <%end%>

  <%end%>





<!-- old code--> 
  <h1>Your Search Results for "
    <%if params[:searchrecipe].nil? and params[:searchrating].nil?%>
      <%=params[:searchingredients]%>
    <%elsif params[:searchingredients].nil? and params[:searchrating].nil?%>
      <%=params[:searchrecipe]%>
    <%else%>
      Rating greater than 
      <%=params[:searchrating]%>
    <%end%> "
  </h1>


  <%=will_paginate @allrecipes %>
  <%@allrecipes.each do |recipe|%>
      <%if params[:searchrating].nil?%>
        <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
          </br>
          Submitted by: <%=recipe.user.email%></br>
          Ingredients: <%=recipe.ingredients%></br>
          Directions: <%=recipe.directions%> </br>
          Average Rating: <%= recipe.reviews.average(:rating).to_f%></br>
          Picture:</br>
          <% if recipe.avatar.file? %>
            <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
          <% else %>
              No Picture available!
          <% end %></br>
        </p>
      <%else%>
        <%if recipe.reviews.average(:rating).to_f >= params[:searchrating].to_f%>
             <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
          </br>
          Submitted by: <%=recipe.user.email%></br>
          Ingredients: <%=recipe.ingredients%></br>
          Directions: <%=recipe.directions%> </br>
          Average Rating: <%= recipe.reviews.average(:rating).to_f%></br>
          Picture:</br>
          <% if recipe.avatar.file? %>
            <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
          <% else %>
              No Picture available!
          <% end %></br>
          </p>
        <%end%>
      <%end%>
    </hr>
  <%end%> 



