

<form action="<%= searchforrecipes_path %>" method="get" >
   <%= label_tag(:searchrecipe, "Search By Name:") %>
  <%= text_field_tag(:searchrecipe,params[:searchrecipe]) %>
  <%= submit_tag "Search", :name => nil%>
</form> 

<form action="<%= searchforrecipes_path %>" method="get" >
   <%= label_tag(:searchingredients, "Search by Ingredients:") %>
  <%= text_field_tag(:searchingredients,params[:searchingredients]) %>
  <%= submit_tag "Search", :name => nil%>
</form> 

<form action="<%= searchforrecipes_path %>" method="get" >
   <%= label_tag(:searchrating, "Search by Rating:") %>
  <%= text_field_tag(:searchrating,params[:searchrating]) %>
  <%= submit_tag "Search", :name => nil%>
</form> 

<!--Shows all Recipes -->
<%if params[:searchrecipe].nil? and params[:searchingredients].nil? and params[:searchrating].nil?=%>
  <h1>Recipes</h1>

  <%if @allrecipes !=nil%>
   <%=will_paginate @allrecipes%>

    <%@allrecipes.each do |recipe|%>


      <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
        </br>
        Submitted by: <%=recipe.user.email%></br>
        Ingredients: <%=recipe.ingredients%></br>
        Directions: <%=recipe.directions%> </br>
        Picture:</br>
        <% if recipe.avatar.file? %>
          <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
        <% else %>
            No Picture available!
        <% end %></br>
        Average Rating: <%= recipe.reviews.average(:rating).to_f%></p>
      </hr>
    <%end%>
  <%end%>

<!--Searach results --> 
<%else%>

<h1>Your Search Results for "
    <%if params[:searchrecipe].nil? and params[:searchrating].nil?%>
      <%=params[:searchingredients]%>
    <%elsif params[:searchingredients].nil? and params[:searchrating].nil?%>
      <%=params[:searchrecipe]%>
    <%else%>
      Rating greater than 
      <%=params[:searchrating]%>
    <%end%> "
  </h1>


  <%=will_paginate @allrecipes %>
  <%@allrecipes.each do |recipe|%>
      <%if params[:searchrating].nil?%>
        <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
          </br>
          Submitted by: <%=recipe.user.email%></br>
          Ingredients: <%=recipe.ingredients%></br>
          Directions: <%=recipe.directions%> </br>
          Average Rating: <%= recipe.reviews.average(:rating).to_f%></br>
          Picture:</br>
          <% if recipe.avatar.file? %>
            <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
          <% else %>
              No Picture available!
          <% end %></br>
        </p>
      <%else%>
        <%if recipe.reviews.average(:rating).to_f >= params[:searchrating].to_f%>
             <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
          </br>
          Submitted by: <%=recipe.user.email%></br>
          Ingredients: <%=recipe.ingredients%></br>
          Directions: <%=recipe.directions%> </br>
          Average Rating: <%= recipe.reviews.average(:rating).to_f%></br>
          Picture:</br>
          <% if recipe.avatar.file? %>
            <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
          <% else %>
              No Picture available!
          <% end %></br>
          </p>
        <%end%>
      <%end%>
    </hr>
  <%end%> 

<%end%>

<%=link_to "Back to Search",search_path%>




