<h1>Recipes to review</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Recipe Owner</th>
      <th></th>
      <th>Already have a review for this?</th>
      <th></th>
    </tr>

  <% @otherusers.each do |user|%>
    <% user.recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= user.email%></td>
        <td><%= link_to 'Show recipe', recipe %></td>

        <td> 
          <%if recipe.reviews.where('user_id='+current_user.id.to_s).empty?%>
            <%=link_to 'Review this recipe', new_review_path(:id=>recipe.id)%>
          <%else%>
            <%=link_to 'Show my review',review_path(:id=>recipe.id,:review_id=>recipe.reviews.where('user_id='+current_user.id.to_s).first.id)%>
          <%end%>

          <%#=recipe.reviews.where('user_id='+current_user.id.to_s)%>

          <%#= link_to 'Edit', edit_recipe_path(recipe) %>


        </td>
        <td><%#= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <%end%>
  </table>

<br />

<%#= link_to 'Add a new recipe', new_recipe_path %>
<%#=link_to 'Return to dashboard', dashboard_path%>


<%#= render 'testuser' %>
