


<form action="<%= searchforrecipes_path %>" method="get" >
   <%= label_tag(:searchrecipe, "Search By Name:") %>
  <%= text_field_tag(:searchrecipe,params[:searchrecipe]) %>
  <%= submit_tag "Search", :name => nil%>
</form> 


<form action="<%= searchforrecipes_path %>" method="get" >
   <%= label_tag(:searchingredients, "Search by Ingredients:") %>
  <%= text_field_tag(:searchingredients,params[:searchingredients]) %>
  <%= submit_tag "Search", :name => nil%>
</form> 

<%#= form_tag("/recipes/search/test", :method => "get") do %>
  <%#= label_tag(:searchrating, "Search By Average Rating:") %>
  <%#= text_field_tag(:searchrating, params[:searchrating]) %>
  <%#= submit_tag("Search", :name=>nil) %>
<%# end %>

<form action="<%= searchforrecipes_path %>" method="get" >
   <%= label_tag(:searchrating, "Search by Rating:") %>
  <%= text_field_tag(:searchrating,params[:searchrating]) %>
  <%= submit_tag "Search", :name => nil%>
</form> 


<%if params[:searchrecipe].nil? and params[:searchingredients].nil? and params[:searchrating].nil?=%>
  <h1>My Recipes</h1>

  <%if @myrecipes !=nil%>
    <%@myrecipes.each do |recipe|%>

      <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
        <%#if recipe.reviews.where('user_id='+current_user.id.to_s).empty? %>
          <%#=link_to 'Review this recipe', new_review_path(:id=>recipe.id)%>
        <%#else%>
          <%#=link_to 'Show my review',review_path(:id=>recipe.id,:review_id=>recipe.reviews.where('user_id='+current_user.id.to_s).first.id)%>
        <%#end%>
        </br>
        Submitted by: <%=recipe.user.email%></br>
        Ingredients: <%=recipe.ingredients%></br>
        Directions: <%=recipe.directions%> </br>
        Average Rating: <%= recipe.reviews.average(:rating).to_f%></p>
      </hr>
    <%end%>
  <%end%>

  <h1>Other User's Recipes</h1>

  <%if @otherusers!=nil%>

    <%@otherusers.each do |user|%>

    <%if user.recipes !=nil%>

      <%user.recipes.each do |recipe|%>

        <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
          <%#if recipe.reviews.where('user_id='+current_user.id.to_s).empty? %>
            <%#=link_to 'Review this recipe', new_review_path(:id=>recipe.id)%>
          <%#else%>
            <%#=link_to 'Show my review',review_path(:id=>recipe.id,:review_id=>recipe.reviews.where('user_id='+current_user.id.to_s).first.id)%>
          <%#end%>
          </br>
          Submitted by: <%=recipe.user.email%></br>
          Ingredients: <%=recipe.ingredients%></br>
          Directions: <%=recipe.directions%> </br>
          Average Rating: <%= recipe.reviews.average(:rating).to_f%></p>
        </hr>
      <%end%>
    <%end%>
    <%end%>
  <%end%>

<%else%>
  <h1>Your Search Results for "
    <%if params[:searchrecipe].nil?%>
      <%=params[:searchingredidents].to_s%>
    <%else%>
      <%=params[:searchrecipe].to_s%>
    <%end%> "
  </h1>

  <%@allrecipes.each do |recipe|%>
      <%if params[:searchrating].nil?%>
        <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
          <%#if recipe.reviews.where('user_id='+current_user.id.to_s).empty? %>
            <%#=link_to 'Review this recipe', new_review_path(:id=>recipe.id)%>
          <%#else%>
            <%#=link_to 'Show my review',review_path(:id=>recipe.id,:review_id=>recipe.reviews.where('user_id='+current_user.id.to_s).first.id)%>
          <%#end%>
          </br>
          Submitted by: <%=recipe.user.email%></br>
          Ingredients: <%=recipe.ingredients%></br>
          Directions: <%=recipe.directions%> </p>
      <%else%>
        <%if recipe.reviews.average(:rating).to_f >= params[:searchrating].to_f%>
             <p><%= link_to recipe.name.classify, recipe_path(:id=>recipe.id)%>
          </br>
          Submitted by: <%=recipe.user.email%></br>
          Ingredients: <%=recipe.ingredients%></br>
          Directions: <%=recipe.directions%> </br>
          Average Rating: <%= recipe.reviews.average(:rating).to_f%></p>

        <%end%>
      <%end%>
    </hr>
  <%end%>





<%end%>




