<p id="notice"><%= notice %></p>

<%@counter=0%>

<p>Recipe id: <%=@recipe.id%></p>
<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>
<p>
  <b>User email:</b>
  <%= @recipe.user.email %>
</p>
<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients %>
</p>
<p>
  <b>Directions:</b>
  <%= @recipe.directions %>
</p>
<p>
  <b>Average Rating:</b>
  <%= @recipe.reviews.average(:rating).to_f%>
</p>
<p>
  <b>Picture:</b></br>
  % if recipe.avatar.file? %>
          <%=image_tag recipe.avatar, :height=>'15%',:width=>'15%'%>
        <% else %>
            No Picture available!
        <% end %>
  <%= image_tag @recipe.avatar.url, :height=>'15%', :width=>'15%'%>
</p>
<hr>

<h3>Reviews</h3>
<%@recipe.reviews.each do |review|%>
	<p> Review id: <%=review.id%></p>
	<p> Comments: <%=review.comments%></p>
	<p> Review by: <%=User.find(review.user_id).email%></p>
	<p> Rating: 
		<%review.rating.times do |i|%>
			<%=image_tag("star_rating.jpeg",:size => "20x20")%>
		<%end%>
	</p>
	<%if review.user_id==current_user.id %>
		<%= link_to 'Show Review', review_path(:review_id=>review.id)%>
		<%= @counter=1%>
	<%end%>
	<hr>
<%end%>

</br>

<%if @recipe.user.id==current_user.id%>
	<%= link_to 'Edit recipe', edit_recipe_path(@recipe) %>
	<%=link_to 'Back to my recipes' ,recipes_path %>
<%else%>	
	<%= link_to 'Make  a review',new_review_path if @counter==0%>
	<%= link_to 'Back to list of recipes', search_path %>
<%end%>

</br>


