<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>
<p>
  <b>User email:</b>
  <%= @recipe.user.email %>
</p>
<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients %>
</p>
<p>
  <b>Directions:</b>
  <%= @recipe.directions %>
</p>
<p>
  <b>Average Rating:</b>
  <%= @recipe.reviews.average(:rating).to_f%>
</p>
<p>
  <b>Picture:</b></br>
  		<% if @recipe.avatar.file? %>
          <%=image_tag @recipe.avatar, :height=>'15%',:width=>'15%'%>
        <% else %>
            No Picture available!
        <% end %>
</p>
</hr>

<h3>Reviews</h3>
<%@recipe.reviews.each do |review|%>
	<p> Comments: <%=review.comments%></p>
	<p> Review by: <%=User.find(review.user_id).email%></p>
	<p> Rating: 
		<%review.rating.times do |i|%>
			<%=image_tag("star_rating.jpeg",:size => "20x20")%>
		<%end%>
	</p>
	<%if review.user_id==current_user.id %>
		<%= link_to 'Show Review', review_path(:review_id=>review.id)%>
	<%end%>
	<hr>
<%end%>

</br>

	<%if @recipe.user.id==current_user.id%>
		<%= link_to 'Edit recipe', edit_recipe_path(@recipe) %>
		<%= link_to 'Delete Recipe', destroy_recipe_path%>
		<%=link_to 'Back to my recipes' ,recipes_path %>
	<%else%>	
		<%= link_to 'Make  a review',new_review_path if @recipe.reviews.find_by_user_id(current_user.id).nil?%>
		<%= link_to 'Back to list of recipes', search_path %>
	<%end%>

</br>