
<p>review edit.html</p>
<h1>Recipe</h1>
<p>
Name: <%= @review.recipe.name%>
</br>
Ingredients: <%= @review.recipe.ingredients%>
</br>
Recipe Owner: <%=User.find(@review.recipe.user_id).email%>
</br>
Recipe ID: <%=@review.recipe_id%>
</p>
<h1>Editing review</h1>
<%= render 'formupdate' %>

<%= link_to 'Show', @review %> |
<%= link_to 'Back', reviews_path %>
