
<p>review new.html</p>
<h1>Recipe</h1>
<p>
Name: <%= @review.recipe.name%>
</br>
Ingredients: <%= @review.recipe.ingredients%>
</br>
Username: <%=User.find(@review.recipe.user_id).email%>
</p>

<h1>New review</h1>

<%= render 'form' %>

<%= link_to 'Back', reviews_path %>
<%= link_to 'real back', recipe_path(@review.recipe_id)%>
