<p id="notice"><%= notice %></p>

<p>This is the review show page </p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>

<p>
  <b>Receipe:</b>
  <%= @review.recipe_id %>
</p>

<p>
  <b>Comments:</b>
  <%= @review.comments %>
</p>

<p>
	<b>Rating:</b>
	<%@review.rating.times do |i|%>
			<%=image_tag("star_rating.jpeg",:size => "20x20")%>
	<%end%>
</p>


<%= link_to 'Edit Review', edit_review_path(@review) %> 
<%= link_to 'Delete Review', destroy_review_path%>
<%= link_to 'Back',:back%>

