<p id="notice"><%= notice %></p>


<h2>Recipe</h2>
<p>
  <b>Recipe Name:</b>
  <%= @review.recipe.name %></br>
  <b>User email:</b>
  <%= @review.recipe.user.email %></br>
  <b>Ingredients:</b>
  <%= @review.recipe.ingredients %></br>
  <b>Directions:</b>
  <%= @review.recipe.directions %></br>
  <b>Average Rating:</b>
  <%= @review.recipe.reviews.average(:rating).to_f%>
</p>
<p>
  <b>Picture:</b></br>
      <% if @review.recipe.avatar.file? %>
          <%=image_tag @review.recipe.avatar, :height=>'15%',:width=>'15%'%>
        <% else %>
            No Picture available!
        <% end %>
</p>



<h2>Review</h2>
<p>
  <b>Comments:</b>
  <%= @review.comments %>
</p>

<p>
	<b>Rating:</b>
	<%@review.rating.times do |i|%>
			<%=image_tag("star_rating.jpeg",:size => "20x20")%>
	<%end%>
</p>


<%= link_to 'Edit Review', edit_review_path(@review) %> 
<%= link_to 'Delete Review', destroy_review_path%>
<%= link_to 'Back',:back%>