<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div style='border: 5px solid red'>
		<%if flash[:notice]%>
			<p class='notice'> <%=flash[:notice].html_safe%></p>
		<%end%>
	</div >
	<div style='border: 5px solid green'>
		<%if flash[:alert]%>
			<p class='alert'> <%=flash[:alert].html_safe%></p>
		<%end%>
	</div>
	<div style='border: 5px solid blue'>
		<%if flash[:error]%>
			<p class='error'> <%=flash[:error].html_safe%></p>
		<%end%>
	</div>
</br>

<% if user_signed_in? %>
  <h2>Welcome <%=current_user.email%>   <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </h2>
    
<% end %>

<%= yield %>

</br>
<%if user_signed_in?%>
	<%=link_to 'Return to dashboard', dashboard_path%>
<%end%>

</body>
</html>
